@font-face {
    font-family: varela;
    src: url('./Font/VarelaRound-Regular.ttf');
}
*{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Gamecontainer{
    /*background-color: yellow;*/
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.pt2{
    display: flex;
    flex-direction: column;
    width: auto;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3,120px);
    font-family: varela;
    justify-content: center;
}
.box{
   /* background-color: yellow;*/
    border: solid black .15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box:hover{
    cursor: pointer;
    background-color:rgb(217, 180, 252);
}
.boxtext{
    font-size: 7rem;
}
.b0{
    border-top: 0;
}
.b1{
    border-right: 0;
}
.b2{
    border-left: 0;
}
.b3{
    border-bottom: 0;
}
#reset,reset:hover{
    font-family: varela;
    background-color: yellow;
    font-weight: 1000;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 5.5rem;
    height: 3rem;
    border: 0px;
    cursor: pointer;
}
.welcome{
    font-size: 1.5rem;
    font-family: varela;
    font-weight: 1000;
    position: absolute;
    margin-bottom: 500px;
}
.info{
    font-size: 1.5rem;
    font-family: varela;
    color: black;
    margin-bottom: 10px;
}